/*
* general tags
*/
body{
  background-color: #272727;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
h1, h2, p, text, .text{
  color: #ffffff;
  font-family: 'IBM Plex Sans', sans-serif;
}
/*
* general classes
*/
.h-center{
  display: table;
  margin: 0 auto;
}
.pointer:hover{
  cursor: pointer;
}
.people-color{
  background-color: #FF83D5;
}
.events-color{
  background-color: #83E1FF;
}
.memes-color{
  background-color: #FFFFFF;
}
.medias-color{
  background-color: #FFC683;
}
/* -------------------------------*/

/*
* Fonts
*/
@font-face {
  font-family: 'VG5000-Regular';
  src: url('../assets/fonts/VG5000-Regular_web.otf');
}
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
.title{
  font-family: 'VG5000-Regular';
  font-size: 2em;
  /* color: #ffffff; */
}
p{
  font-size: 0.8em;
  line-height: 1.2em;
}
.related-title{
  font-weight: 700;
  font-size: 1.2em;
}
/*
* menus
*/
.nav-elems{
  z-index: 100;
}
.menu{
  position: fixed;
  top: 12px;
}
.menu-square{
  width: 40px;
  height: 40px;
}

.menu-left{
  left: 12px;
}
.menu-right{
  top: 200px;
  right: 19px;
  width: 40px;
}
.menu-bottom{
  position: absolute;
  left: 10px;
  top: 70%;
  width: 95vw;
  left: 0;
	right: 0;
	margin: auto;
}
.menu-button{
  position: relative;
  background-color: #272727;
  -webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
}
.menu-button:hover{
  border: solid 0.5px white;
}
.menu-active{
  border: solid 0.5px white;
}
.circle-button{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}
.button-medias{
  margin-top: 6px;
}
.button-events{
  margin-top: 6px;
  margin-bottom: 6px;
}
.highlight-box{
  -moz-box-shadow: inset 0.5px 0.5px 0.5px rgba(255, 255, 255, .4), inset 12px -1px 1px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 0.5px 0.5px 0.5px rgba(255, 255, 255, .4), inset -1px -1px 1px rgba(0, 0, 0, .4);
  box-shadow: inset 0.5px 0.5px 0.5px rgba(255, 255, 255, .4), inset -1px -1px 1px rgba(0, 0, 0, .4);
}
.button-filter{
  margin-top: 6px;
  background-image: url('../assets/pics/navigation/filter-button.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.button-info{
  width: 40px;
  height: 40px;
  /* border: solid 1px white; */
    cursor: pointer;
}
.button-info-span{
  font-size: 1.5em;
  line-height: 1.5em;
  vertical-align: middle;
  text-align: center;
  color: #272727;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ffffff;
}
.button-info-span-active, .button-info-span:hover{
  -webkit-text-stroke-width: 0px;
  color: #ffffff;
}

/* -------------------------------*/

/* ---------Fiter box---------*/
.filter-box-wrapper{
  margin-top: 6px;
  width: auto;
  height: auto;
  border: 1px solid #ffffff;
  background-color: #272727;
  z-index: 100;
  display: none;
}
.filter-box{
  margin: 10px;
}
.filter-list{
  margin-top: 5px;
}
.filter-title{
  color: rgba(255, 255, 255, 0.33);
}
/* -------------------------------*/
/* ---------Labels box---------*/
.labels-box-wrapper{
 margin-top: 6px;
 margin-left: -150px;
 width: auto;
 height: auto;
 right:  0px;
 border: 1px solid #ffffff;
 background-color: #272727;
 z-index: 100;
 display: none;
}
.labels-box{
  margin: 10px;
}
.label-info{
  margin-top: 10px;
  margin-left: 10px;
  height: 1.5em;
  color: rgba(255, 255, 255, 0.33);
}
.label{
  margin-top: 10px;
  height: 1.5em;
}
.label-circle-elem{
  height: 1.5em;
  width: 1.5em;
  border-radius: 1.5em;
  float: left;
}
.link-wrapper{
  width: 1.5em;
  height: 100%;
}
.label-link-stroke{
  height: 1px;
  width: 1.5em;
  position: relative;
  left: 0%;
  top: 50%;
  -webkit-transform: translate(-0, -50%);
  transform: translate(0, -50%);
  opacity: .7;
}
.label-circle-link{
  height: .7em;
  width: .7em;
  border-radius: 1.5em;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.5;
}
.label-text-elem{
  margin-left: 2.5em;
  line-height: 1.9em;
  vertical-align: middle;
}
.label-text-link{
  margin-left: 2.5em;
  line-height: 1.5em;
  vertical-align: middle;
}
/* ---------Sliders---------*/
.pan-slider{
  width: 100%;
  -webkit-appearance: none;
  /* background: #d3d3d3; */
  height: 0px;
  outline: none;
}
.pan-slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 10vw;
  height: 2vh;
  background: #fff;
  opacity: 0.33;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #000;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.pan-slider::-moz-range-thumb{
-webkit-appearance: none;
appearance: none;
width: 10vw;
height: 2vh;
background: #fff;
opacity: 0.33;
border-radius: 20px;
cursor: pointer;
border: 1px solid #000;
-webkit-transition: .2s;
transition: opacity .2s;
}
.pan-slider::-webkit-slider-thumb:hover{
  opacity: 1;
}
.pan-slider::-moz-range-thumb:hover{
  opacity: 1;
}
.pan-slider::-webkit-slider-thumb:focus{
  opacity: 1;
}
.zoom-slider-wrapper{
  position: fixed;
  top: 12px;
  right: 50px;
  /* width: 15vw; */
  width: 178px;
  transform-origin: top right;
  transform: rotate(270deg);
}
.zoom-slider{
  width: 100%;
  height: 2px;
  -webkit-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.33);
  outline: none;
}
.zoom-slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 2vh;
  height: 2vh;
  border-radius: 20px;
  background: #272727;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.zoom-slider::-webkit-slider-thumb:hover{
  border: 1px solid rgba(255, 255, 255, 1);
}
.visible{
  display: block;
}
.hidden{
  display: none;
}
/* -------------------------------*/

/*
* shadow divs
*/
.shadow-div-side{
  position: fixed;
  height: 100%;
  width: 50px;
  z-index: 0;
  top: 0px;
}
.shadow-div-left{
  -webkit-box-shadow: 5px 0px 50px 0px rgba(0,0,0,0.9);
  -moz-box-shadow: 5px 0px 50px 0px rgba(0,0,0,0.9);
  box-shadow: 5px 0px 50px 0px rgba(0,0,0,0.9);
  left:-50px;
}
.shadow-div-right{
  -webkit-box-shadow: -5px 0px 50px 0px rgba(0,0,0,0.9);
  -moz-box-shadow: -5px 0px 50px 0px rgba(0,0,0,0.9);
  box-shadow: -5px 0px 50px 0px rgba(0,0,0,0.9);
  right:-50px;
}
.shadow-top{
  -webkit-box-shadow: 0px -5px 31px 9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -5px 31px 9px rgba(0,0,0,0.75);
  box-shadow: 0px -5px 31px 9px rgba(0,0,0,0.75);
}
.shadow-div-info{
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: -100px;
  z-index: 0;
}
/* -------------------------------*/

/*
* INFO-WRAPPER
*/
.info-wrapper{
  position: absolute;
  background-color: #272727;
  left: 0px;
  border-top: solid 1px rgba(255, 255, 255, 0.33);
  width: 100%;
  height: 90%;
  z-index: 500;
  display: flex;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.info-wrapper.full-collapsed{
  bottom: -95%;
}
.info-wrapper.collapsed{
  bottom: -80%;
}
.info-wrapper.expanded{
  bottom: 0%;
}
.info-div{
  width: 50%;
}
.info-element{
  margin: 10px;
}
/* LEFT-INFO-DIV */
.left-info-div{

}
.info-description{

}
.info-title{
}
#title{
 margin-left : 40px;
}
.fade{
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
/* RIGHT-INFO-DIV */
.right-info-div{
  display: flex;
}
.info-img, .related-img-div{
  width: 2em;
  height: 2em;
  float: left;
}
.related-element{
  margin-top:1em;
  display: flex;
  align-items: center;
}
.related-text{
  vertical-align: middle;
  margin-left: 1em;
}
#related-one-div{

}
#related-two-div{

}
.related-elements-div{
  width: 33.33%;
}
/* EXPAND BUTTON */
.expand-button{
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #272727;
  border: solid 1px rgba(255, 255, 255, 0.33);
  border-radius: 50%;
  z-index: 100;
	top: -15px;
	left: 0;
	right: 0;
	margin: auto;
}
.expand-button:hover{
  background-color: #C4C4C4;
}
/* EXPAND BUTTON */
.curtain-div{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
/* POP-UP DIV */
.pop-up-curtain{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.pop-up-div{
  position: fixed;
  width: auto;
  height: auto;
  max-width: 220px;
  border: solid 1px rgba(255, 255, 255, 0.33);
  background-color: #272727;
  z-index: 100;
}
.svg-pop-up-bg{
  z-index: 100;
}
.svg-pop-up-icon{
  float: left;
  margin: 10px 10px 0px 10px;
}
.pop-up-title-div{
  margin: 10px 10px 5px 10px;
  height: 1.5em;
}
.pop-up-title{
  float: left;
  line-height: 1.5em;
}
.link-type-div{
  width: 33%;
  height: 1.5em;
  /* border: 1px solid white; */
  float: right;
}
.link-stroke{
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 75%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.33);
  z-index:-1;
}
.link-element{
  display: inline-block;
  position: relative;
  top: -2px;
  height: 1.5em;
  width: 1.5em;
  border-radius: 1.5em;
  z-index: 1;
}
.link-first{
  float: left;
}
.link-second{
  float: right;
}
.pop-up-text{
  margin: 7px 10px 10px 10px;
}
.pop-up-filter-div{
  display: inline-block;
  margin: 0px 10px 0px 10px;
  height: 1.5em;
}
.pop-up-filter-circle{
  height: 1.5em;
  width: 1.5em;
  border: 1px solid;
  color: rgb(255, 255, 255);
  opacity: 0.33;
  border-radius: 1.5em;
  float: left;
  cursor: pointer;
}
.plus-filter{
  font-size: 1.1em;
  color: rgb(255, 255, 255);
  text-align: center;
  /* line-height: 1.1em; */
}
.pop-up-filter-circle:hover{
  opacity: 1;
}
.pop-up-filter-text{
  color: rgba(255, 255, 255, 0.33);
  margin-left: 2.5em;
  line-height: 1.9em;
}
