@media screen and (min-width: 1400px) {
  p{
    font-size: 0.8em;
    line-height: 1.2em;
  }
  .related-title{
    font-size: 1.2em;
  }
  .description{
    font-size: 3em;
    line-height: 1.5em;
  }
  /*
  * menus
  */
  .menu{
    top: 65px;
  }
  .menu-top{
    top: 0px;
    height: 50px;
  }
  .menu-square{
    height: 50px;
    width: 50px;
  }
  .button-events{
    margin: 8px 0 8px 0;
  }
  .menu-top-text{
    line-height: 50px;
  }
  .menu-left{
    left: 15px;
  }
  .menu-left{
    right: 15px;
  }
  .info-wrapper.collapsed{
    bottom: -83%;
  }
  .focus.menu{
    height: 50px;
    margin: 13px 0px 0px 20px;
  }
}
