.pop-up-wrapper{
  position: fixed;
  top: 0px;
  left: 0px;
}
.circle:hover{
  stroke-width: 2;
}
.people-circle:hover{
  stroke : #FF83D5;
}
.event-circle:hover{
  stroke : #83E1FF;
}
.meme-circle:hover, .link-circle:hover{
  stroke : #FFFFFF;
}
.media-circle:hover{
  stroke : #FFC683;
}
.circle-image{
  filter: grayscale(100%);
}
