.svg-coor-wrapper
,.svg-wrapper,
.pop-up-wrapper{
  position: fixed;
  top: 0px;
  left: 0px;
}
.circle:hover{
  stroke-width: 2;
}
.people-circle:hover{
  stroke : #FF83D5;
}
.event-circle:hover{
  stroke : #83E1FF;
  stroke-width: 3;
}
.meme-circle:hover, .link-circle:hover{
  stroke : #FFFFFF;
}
.media-circle:hover{
  stroke : #FFC683;
}
.circle-image{
  filter: grayscale(100%);
}
.neutral-link:hover{
  fill : #FFFFFF;
}
.good-link:hover{
  fill : #85FFAA;
}
.bad-link:hover{
  fill : #FF6969;
}
tspan{
  font-size: 1em;
}
